*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background: #002339;
  max-width: 100vw;
  overflow-x: none;
}

.container{
  margin: 12%;
  width: 80%;
  max-width: 780px
}

.container h1{
  font-weight: 500;
  font-size: 45px;
}
.container h1 span{
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 10px;
  font-weight: 700;
}

.display{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}
.display input{
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 24px;
}
.display button{
  background: transparent;
  border: none;
  color: #019f55;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.container #pwd i{
  width: 28px;
  margin-right: 10px;
}
.container #pwd{
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}